@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather&family=Open+Sans:wght@300;400;700&family=Poppins&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  background-color: #ccc;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  margin: 0;
}
header h1,
header h2 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(92, 38, 38);
}

form {
  padding: 1rem;
  background-color: #ccc;
  margin-bottom: 1rem;
  margin: 0 auto;
  width: 40%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

input[type="text"],
textarea {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  padding: 0.4rem;
  border-radius: 50px;
  border: none;
  width: 8em;
}
.card {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 25px;
  max-width: 75ch;
  width: 30%;
  margin-bottom: 1rem;
}

.card--title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 25px;
}

.card--name {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.card--content {
  margin: 0;
  margin-bottom: 0.5rem;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
  justify-content: space-between;
}



.card h3, h4{
  font-family: 'Open Sans', sans-serif;
  color: rgb(70, 54, 54);
}

.card p{
  font-family: 'Merriweather', serif;
  color:  rgb(92, 38, 38);

}

